@use '../../../scss/index.scss';

.MinusButton {
  background-color: index.$error-color;
  border: none;
  min-height: 40px;
  min-width: 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-family: Rubik-Bold;
  padding: 0;
  cursor: pointer;
  border-radius: 7px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

  &:hover {
    background-color: #c62828;
  }

  &:active {
    background-color: #f8b9b8;
  }
}