.MinusButton {
 background-color: rgb(236, 174, 174);
  border: none;
  height: 40px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  padding: 0;
  cursor: pointer;
  border-radius: 10%;
}

.MinusButton:active {
  background-color: rgb(223, 113, 50);
}