.QuestionPage {
  width: 100%;
  height: 100%;
  background-color: lightgrey;

  .QuestionText {
    font-weight: bold;
    font-size: 2em;
  }

  .RadioAnswer{
    font-size: 1.2em;
    font-weight: bold;
  }
}