@import '../../variables/variables.scss';

.QuestionsEditContainer {
  margin-top: 35px;
  background-color: main-palette(400);
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 1px 3px 6px #aaaaaa;
}

.ContainerHeader {
  color: #ebf5fc;
  background-color: main-palette(500);
  border-radius: 8px 8px 0 0;
  padding: 7px 0;
  box-shadow: 0px 2px 1px #456d86;

  span {
    font-weight: bold;
    font-size: 20px;
  }
}

.ContainerBody {
  padding:0 20px 20px 20px;
  box-sizing: border-box;
}