.ScaleInput {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 0 15px;
}

.ScaleNameContainer {
  text-align: left;
  width: 100%;
}

.ScaleName {
  border-radius: 4px;
  padding: 7px 11px;
  display: block;
  height: 21px;
  background-color: rgb(24, 172, 24);
  max-width: 1400px;
  width: 100%;
}

.ButtonBlock {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  width: 80px;
}