// @use '../../scss/index.scss'as vars;
@use '../../scss/index.scss';

.NewRadioAnswer {
  background-color: index.blue-palette(100);
  border-radius: 7px;
  margin-bottom: 12px;
  box-shadow: 0 2px 3px index.gray-palette(800);
  box-sizing: border-box;
  display: flex;

  .LeftSide {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    width: 100%;

    .InputField {
      width: 100%;
      height: 100%;
    }

    .AnswerValuesBlock {
      min-width: 480px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      padding: 15px;
      align-items: center;
      background-color: index.blue-palette(300);
      border-radius: 6px;
      box-shadow: inset 1px 1px 3px index.gray-palette(700);

      .AnswerValue {
        box-sizing: border-box;
        background-color: index.blue-palette(100);
        border-radius: 7px;
        margin-bottom: 15px;
        width: 100%;
        display: flex;
        box-shadow: 1px 1px 3px index.gray-palette(700);


        .LeftSide {
          width: 100%;
          justify-content: center;
          align-items: center;
          display: flex;
          box-sizing: border-box;
          padding: 10px 13px;
        }

        .AnswerValueBlock {
          margin-right: 25px;
        }
      }

      .AddButton {
        height: 30px;
        margin-top: 10px;
        background-color: index.blue-palette(600);
        color: index.blue-palette(50);

        &:hover {
          background-color: index.blue-palette(600);
        }

        &:active {
          background-color: index.blue-palette(100);
        }

        svg {
          font-size: 1.5rem;
        }

        span {
          font-size: 1em;
        }
      }

    }
  }
}