.NewQuestion {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 12px;
  padding: 5px 15px;
  background-color: #a4ebf3;
  padding: 17px;
  border-radius: 7px;
  box-shadow: 0 1px 3px #2d5c56;

}

.QuestionBlock {
  width: 100%;
  margin-bottom: 10px;
}

.AnswerBlock {
  width: 90%;
}