.Input {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}



.InputElement {
  border-radius: 5px;
  outline: none;
  border: 1px solid rgb(122, 122, 122);
  font: inherit;
  padding: 6px 10px;

  display: flex;

  align-items: center;
  max-width: 1400px;
  width: 100%;
}

.Label {
  font-weight: bold;
  display: block;
  margin-right: 8px;
}