@use '../../../scss/index.scss';

.CheckButton {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  fill: #fff;
  background-color: index.light-green-palette(300) !important;
  background-size: cover;
  cursor: pointer;
}