.CreateTestWindow {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  padding: 13px;
}

.ScalesBox {
  background-color: green;
  width: 100%;
}

.ScaleField {
  width: 100%;
  margin-bottom: 12px;
}

.QuestionsBox {
  background-color: orange;
  width: 100%;
}