@import '../../variables/variables.scss';

.ScalesEditContainer {
  margin-top: 15px;
  background-color: analog-palette(500);
  width: 100%;
  border-radius: 8px;
  box-shadow: 1px 3px 6px #aaaaaa;
}

.ScaleField {
  width: 100%;
  margin-top: 12px;
  padding: 15px 0;
  background-color: analog-palette(400) ;
  border-radius: 6px;
  box-sizing: border-box;
  box-shadow: 0 1px 3px analog-palette(800) ;
}

.ContainerHeader {
  color: #ebf5fc;
  background-color: analog-palette(700);
  border-radius: 8px 8px 0 0;
  padding: 7px 0;
  box-shadow: 0px 2px 1px analog-palette(800);

  span {
    font: {
      weight: bold;
      size: 20px;
    }
  }
}


.ContainerBody {
  padding: 20px;
  box-sizing: border-box;
}

.AddButton {
  margin-top: 20px;
}