.Sidebar {
  height: 100vh;
  width: 32%;
  max-width: 300px;
  min-width: 70px;
  border: 1px solid black;
  overflow-y: auto;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
}
